{
    "rules": {
        "semi": ["error", "always"],
        "quotes": ["warn", "single"]
    },
    "env": {
        "node": true,
        "es6": true
      },
    
      "parserOptions": {
        "ecmaVersion": 12
      }
}